
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<title>Contact Us</title>

<style>

body{	
	    background: url("/media/images/design2.jpg");
    	background-size: 100%;
    	background-position: fixed;
	}

</style>

<body>

	<h1>Welcome to Structured Chaos<h1>

	<h2>You can contact us through:</h2>


	<p>Address: The 5th District, Cairo Governorate 11432</p>
	<p>Phone: 19623</p>
	<p>Hours: Open Everyday Except Friday 09:00 am - 05:00 pm</p>

 	<a href="https://www.google.com.eg/maps/place/German+University+in+Cairo/@29.988204,31.441333,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x6e7220116094726d" >Our Map</a>

 	<p>Or send us a complain message to <a href="">structuredchaos@outlook.com</a></p>


</body>

</html>
