<!DOCTYPE html>
<head>
  <title> Mahira Galal </title>
  <style>
    body {
      text-align: center;
      background: url("http://shop.timberland.com/graphics/media/tbl/tbl_background.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <h1>Mahira Galal </h1>
  <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10370419_10155193983675464_3395138309120778614_n.jpg?oh=7ea6f846bae3767d39ce0f1931c9b070&oe=558E0B3C&__gda__=1434490713_226c8c41c67dbff0cd2fc1bab28465b5">
  <p>Hi! I'm Mahira, a GUC student.Say hello!</p>
  <input type="email" placeholder="Your email">
  <input type="submit">
</body>