<!DOCTYPE html>
<head>
  <title>Nada Yasser</title>
  <style>
    body {
      text-align: center;
      background: url("http://wallpaper-download.net/wallpapers/random-wallpapers-tumblr-backgrounds-wallpaper-36963.jpg");
      background-size: cover;
      background-position: center;
      color: purple;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10940622_10153098664272520_6388036595473400006_n.jpg?oh=12b27b1447741ac77520edca2889dbdd&oe=558C1EE3&__gda__=1431572238_5f20628c2d777b1ef56ab18e04344898">
  <p>Hello! I'm Nada Emad, a business informatics student</p>
  <input type="email" placeholder="Your email">
  <input type="submit">
<a href="https://www.facebook.com/nada.yasser.79"> My facebook profile</a>
</body>