<!DOCTYPE html>
<head>
  <title> Mahira Galal </title>
  <style>
    body {
      text-align: center;
      background: url("http://shop.timberland.com/graphics/media/tbl/tbl_background.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <h1>Nourhan Mohamed </h1>
  <img src="https://scontent-mad.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10994156_10153098664292520_6804161260178619523_n.jpg?oh=e7a4adb015737c50a5a494001a3df86e&oe=5551ECBB">
  <p>Hi! I'm Nourhan, a GUC student.Say hello!</p>
  <input type="email" placeholder="Your email">
  <input type="submit">
</body>