<!DOCTYPE html>
<head>
  <title>Omar Kolkailah</title>
  <style>
    body {
      text-align: center;
      background: urlno-repeat;
      background-size:800px 700px;
      background-position: right;
    background-color: black;
      color:white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <img src="https://scontent-mad.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10387317_10153098664257520_7685912936949087243_n.jpg?oh=4a453348f6ca65fd27554dcaee556372&oe=554FC603"h>
  <p>Hi! I'm Omar Kolkailah, a Business Informatics student. Happy to see you here!</p>
  <input type="email" placeholder="Your email">
  <input type="submit">
  <a href="https://www.facebook.com/afarahat94"> My facebook profile</a>
</body>