


<h1>Hello {{user.username}}</h1>


Username: {{ user.username }}<br/><br/>
Email: {{ user.email }}<br/><br/>
Password:  <input type = "password" placeholder = "Enter a new password">
<input type = "submit" id="sub" value = "Change Password"><br/><br/>
Upload Profile Picture 
<br/><br/>
<input type="file" name="fileToUpload" id="fileToUpload">
<br/><br/>
<input type = "submit" id="b1" value = "Upload">
<br/><br/>


<a href="homepagesignup"><img class="i2" src="/media/images/home.png" alt="Homepage icon" width="42" height="42" border="0"></a>


<style>

body{
	  background: url("/media/images/design.jpg");
      background-size: cover;
      background-position: fixed;
}

</style>