
<h1>Hello {{user.username}}</h1>


Username: {{ user.username }}<br/><br/>
Email: {{ user.email }}<br/><br/>
Password:  <input type = "password" placeholder = "Enter a new password">
<input type = "submit" id="sub" value = "Change Password"><br/><br/>
Upload Profile Picture <input type="file" name="fileToUpload" id="fileToUpload">
<br/><br/>

<a href="homepage"><img class="i2" src="/media/images/Menna's Project.png" alt="Homepage icon" width="42" height="42" border="0"></a>


<style>

body{
	  background: url("/media/images/bck.jpg");
      background-size: cover;
      background-position: fixed;
}

</style>

