Title: {{ p.title }}<br/><br/>
Category: {{ p.category }}<br/><br/>
Body: {{ p.body }}<br/><br/>

<form method='post' action='/blog/view_post/{{ p.id }}'>{% csrf_token %}
	<input type='text' name='comment' placeholder='Your Comment'/>
	<input type='submit'/>
</form>

Previous Comments:<br/><br/>
{% for comment in comments %}
	{{ comment.comment }} <br/><br/>
{% endfor %}


<h3>Share Post on Facebook</h3>
<a href="https://www.facebook.com/structuredchaosguc/timeline"><img class="ii" src="/media/images/FacebookLogo.png" alt="Facebook Logo" width="30" height="30" border="0"></a>


<style>

body{
	  background: url("/media/images/bck.jpg");
      background-size: cover;
      background-position: fixed;
}

</style>