

<a href="homepage"><img class="i1" src="/media/images/home.png" alt="Homepage icon" width="42" height="42" border="0"></a>

<br></br>
Title: {{ p.title }}<br/><br/>
Category: {{ p.category }}<br/><br/>
Body: {{ p.body }}<br/><br/>

<hr>
Previous Comments:<br/><br/>
{% for comment in comments %}
	{{ comment.comment }} <br/><br/>
{% endfor %}

<a href="https://www.facebook.com/structuredchaosguc/timeline"><img class="ii" src="/media/images/FacebookLogo.png" alt="Facebook Logo" width="30" height="30" border="0"></a>


<style>

img.i1{
	margin-left: 600px;
}

body{
	  background: url("/media/images/design2.jpg");
      background-size: cover;
      background-position: fixed;
}

</style>